
@{
    ViewBag.Title = "CalcStats";
}

<h2>Important Stats</h2>
<table style="width:100%" border="1">
    <table style="width:100%" border="1">
        <thead>
            <th>Total Sales</th>
            <th>Total Inventory Sold</th>
            <th>Total Employee Bonus</th>
            <th>Total Profit</th>
        </thead>
        <tr>
            <td>@ViewBag.totalSales</td>
            <td>@ViewBag.totalInventorySold</td>
            <td>@ViewBag.totalEmployeeBonus</td>
            <td>@ViewBag.totalProfits</td>
        </tr>
    </table>
</table>
