
@{
    ViewBag.Title = "BikeGlossary";
}

<h2>Know Your Bike</h2>
<br />
<br />

<table style="width:100%" >
    <tr>
        <td width="700">
            <img alt="Bike Anatomy"src="~/Content/Images/BikeAnatomy.jpg" height="300" width="500">
        </td>
        <td align="left" valign="Top">
            
                <a href="#Saddle">1. Saddle</a>
                <br />
                <a href="#SeatPost">2. Seat Post</a>
                <br />
                <a href="#Brakes">3. Brakes</a>
                <br />
                <a href="#RearDerailleur">4. Rear Derailleur</a>
                <br />
                <a href="#FrontDerailleur">5. Front Derailleur</a>
                <br />
            
        </td>
        <td></td>
    </tr>
</table>

<section>
    <br /><br />
    <a name="Saddle">
        <p>
            <strong>1. Saddle<br /></strong>
    </a>
    <section>
    There are many different varieties of saddles. Racing saddles are narrower and weigh less. Comfort saddles are wider and heavier. There are different saddles for men and women. Men's saddles are usually narrower and longer than women's saddles, which are wider and short. 
    </section>
    <br />

    <a name="SeatPost">
        <p>
            <strong>2. Seat Post<br /></strong>
    </a>
    <section>
        This connects the saddle to the frame. Seatposts can be made from aluminum, carbon fiber, titanium or steel, aluminum being the most common. Seatpost size is determined by measuring the diameter of the post. Most seatposts have the size etched on, located just below the minimum insertion line (i.e. 27.2).
    </section>
    <br />

    <a name="Brakes">
        <p>
            <strong>3. Brakes<br /></strong>
    </a>
    <section>
        There are four different types of brakes: Caliper (road), Cantilever, Linear Pull or V-Brakes, and Disc. Caliper brakes are found most often on road bikes and mount with a single bolt located in the center of the brake. Cantilever brakes are most often found on mountain bikes, hybrids and Cyclocross bikes. Cantilever brakes mount to posts located on the frame and fork. The cable attached to the brake looks like an upside down "Y." Linear side-pull (V-brakes) also mount to posts and found on he same bikes as Cantilever brakes. With Linear side-pull brakes the cable goes through a metal tube attached to one brake arm. Disc brakes come in basically two types: hydraulic and mechanical. Disc brakes mounts are located on the frame near the dropouts and near the bottom of the fork leg.
    </section>
    <br />

    <a name="RearDerailleur">
        <p>
            <strong>4. Rear Derailleur<br /></strong>
    </a>
    <section>
        Used to guide the chain from cog to cog on the rear cassette. Rear derailleurs come in different cage lengths. Long cages rear derailleurs are for bikes with Triple cranksets. Short cage derailleurs are for bikes with Double cranksets.
    </section>
    <br />

    <a name="FrontDerailleur">
        <p>
            <strong>5. Front Derailleur<br /></strong>
    </a>
    <section>
        Used to guide the chain from chainring to chainring, the front derailleur has a few distinctions: mount type (Braze-on, E-Type or Clamp-on), pull (top or bottom) and swing (top or bottom). Braze-on front derailleurs bolt directly to the frame. Clamp-on front derailleurs have a clamp that goes around the seat tube and tightens with a bolt. The E-type front derailleur mounts to the bottom bracket.
        Pull is from what direction the cable comes to the derailleur:
        <ul>
            <li>Top-pull = cable comes from above the derailleur</li>
            <li>Bottom-pull = cable comes from under the derailleur</li>
        </ul>
        <br />
        
            Swing refers to where the derailleur cage pivots:
        <ul>
            <li>Top-swing = cage pivots above the clamp</li>
            <li>Bottom-swing or traditional = cage pivots below the clamp</li>
        </ul>
</section>

</section>

